



<div class="div-page">

    <div class="main-container">
        <div class="upper-header-background">
            <div class="upper-header-div">
                <div>
                    <p>
                        Ми працюємо для Вас!
                    </p>
                </div>
                <a href="@Url.Action("Show", "PickTypeOfObject")">
                    <div class="upper-header-search-div">

                        <div class="upper-header-search">
                            <p>Пошук нерухомості</p>
                        </div>

                    </div>
                </a>


            </div>
        </div>

        <div class="header-contacts-container">
            <div class="header-contacts-div">

                <div>
                    <img src="/Image/logo.svg" alt="logo">
                </div>

                <div>
                    <div class="header-right-contacts-div">
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/locationPoint.png" alt="point">
                            </div>
                            <p>
                                ст. м. "Палац Спорту" <br>
                                вул. Шота Руставелі, 20<br>
                                офіс 6
                            </p>
                        </div>
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/locationPoint.png" alt="point">
                            </div>
                            <p>
                                ст. м. "Золоті Ворота"<br>
                                вул. Б. Хмельницького, 29/2<br>
                                офіс 4
                            </p>
                        </div>
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/yellowphone.png" alt="phone">
                            </div>
                            <p>
                                Наші телефони:<br>
                                +38 (067) 829 41 00<br>
                                +38 (044) 390 34 93
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>








    <div class="main-div-pick-object">
        <h1>Виберіть що шукаєте</h1>
        <div class="main-div-for-ul-pick-object">
            <ul class="ul-pick-object">
                <li>
                    <a href="@Url.Action("PickType", "Object", new { id = 1 })">
                    <div class="pick-object-div">
                        <h1>
                            Квартири
                        </h1>
                        <img src="/Image/apartment.webp" alt="apartment">
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("PickType", "Object", new { id = 2 })">
                    <div class="pick-object-div">
                        <h1>
                            Будинки
                        </h1>
                        <img src="/Image/apartment.webp" alt="apartment">
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("PickType", "Object", new { id = 3 })">
                    <div class="pick-object-div">
                        <h1>
                            Земельні ділянки
                        </h1>
                        <img src="/Image/apartment.webp" alt="apartment">
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("PickType", "Object", new { id = 4 })">
                    <div class="pick-object-div">
                        <h1>
                            Офіси
                        </h1>
                        <img src="/Image/apartment.webp" alt="apartment">
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>

